body{
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}
#logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#header-img{
  width: 75px;
  height: 75px;
  float: left;
}
#logo span{
  float: left;
  margin: 20px 10px 20px 10px;
}
#nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.nav-link{
  width: 150px;
  margin : 15px;
  padding: 20px;
  border: 2px solid #efc940;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  transition: all .3s;
}
.nav-link:hover{
  color: #333;
  background-color: #efc940;
  text-decoration: none;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 20px 38px rgba(0,0,0,.16);
  box-shadow: 0 20px 38px rgba(0,0,0,.16);
}
@media (max-width: 500px) {
  .nav-link{
    padding: 10px;
    margin: 10px;
  }
}
.about{
  width: 80%;
  margin: auto;
  padding: 30px;
}
#video{
  margin: 10px;
}
@media (max-width: 700px) {
  .about{
    border: none;
  }
  #video{
    height: 200px;
  }
}
#product{
  margin: auto;
  width: 80%;
  padding: 30px;
  margin-bottom: 20px;
}
.card{
  width: 28%;
  float: left;
  margin: 15px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  box-shadow: 5px 5px 10px;
}
.img-product{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
button{
  padding: 5px;
  width: 150px;
  border: 2px solid #efc940;
  border-radius: 50px;
  transition: all .3s;
  background: #fff;
}
button:hover {
    color: #333;
    background-color: #efc940;
    text-decoration: none;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 20px 38px rgba(0,0,0,.16);
    box-shadow: 0 20px 38px rgba(0,0,0,.16);
}

@media (max-width: 1300px) {
  .card{
    width: 25%;
  }
}
@media (max-width: 900px) {
  .card{
    width: 80%;
  }
}

#contact{
  margin: auto;
  width: 80%;
  padding: 30px;
}

.form{
  float: left;
  width: 40%;
}
label{
  display: block;
  padding: 10px;
}
input{
  height: 50px;
  width: 300px;
  border-radius: 50px;
  border: 2px solid;
  padding: 0 30px;
  background: #f9f7f6;
}
#submit{
  width: 150px;
  border: 2px solid #efc940;
  border-radius: 50px;
  transition: all .3s;
  background: #fff;
}
#submit:hover{
  color: #333;
  background-color: #efc940;
  text-decoration: none;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-box-shadow: 0 20px 38px rgba(0,0,0,.16);
  box-shadow: 0 20px 38px rgba(0,0,0,.16);
}
.social{
  float: right;

}
.social a{
  display: block;
  color: #000;
  text-decoration: none;
  padding: 20px;
}
@media (max-width: 500px) {
  .form{
    width: 80%;
  }
  .social{
    width: 100%;
  }
}
